h1 {
  text-align: center;
}

#post {
  padding: 20px;
}

label {
  font-size: 20px;
  font-weight: bold;
}
#Home > div > div {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0px;
  padding: 40px;
}
#Home > button {
  width: 100%;
}
